.navbar_container{
    padding: 0.5rem 1rem;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.349);
}

.navbar_container .left img:first-child{
    height: 1rem;
    cursor: pointer;
}

.navbar_container .left .logo_container img  {
    height: 2rem;    
    cursor: pointer;
    border: none;
}

.navbar_container .middle .search_container{
    border: 1px solid grey;
    border-radius: 2rem;
    padding: 0.4rem 0.6rem;
}

.navbar_container .middle .search_container input{
    outline: none;
    border: none;
    width: 400px;
}

.navbar_container .middle .search_container img{
    height: 1rem;
    cursor: pointer;
}

.navbar_container .right img{
    height: 2rem;
    cursor: pointer;
}

.navbar_container .right img:last-child{
    border-radius: 50%;
    margin-right: 2rem;
}

@media (max-width: 900px) {
    .navbar_container .right img{
        display: none;
    }

    .navbar_container .right img:last-child{
        display: block;
    }

    .navbar_container .middle .search_container input{
        width: 300px;
    }

    .navbar_container .left .logo_container img  {
        height: 1.5rem;
    }

    .navbar_container .left .hamburger{
        display: none;
    }
}

@media (max-width: 560px){
    .navbar_container .middle {
        display: none;
    }
}